@page "/createsymantecsecret"

<h1>Create Symanted Secret</h1>

<button class="btn btn-primary" @onclick="GenerateSecret">Generate Secret</button>

<br>
<br>
<input type="text" readonly @bind-value="@secret" />

@code {
    string secret = "";

    async Task GenerateSecret()
    {
        var token = await DeveVipAccess.VipAccess.ProvisionTokenNow();
        secret = token.Secret;
    }
}
