@page "/"

<h1>Deve Vip Access Token Generator</h1>

<p>This website can be used to safely generate a Symantec VIP Access token. The application is build in Blazor so all code runs locally.</p>

<!-- <SurveyPrompt Title="How is Blazor working for you?" /> -->

@code {
}